@font-face {
	font-family: "proxima-nova-regular";
  src: url("../img/ProximaNova/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "proxima-nova-bold";
  src: url("../img/ProximaNova/ProximaNova-Bold.otf");
}

#bg_image_overlay {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 1;
background: url('../img/overlay.png') 0px 0px repeat;
background-image: url('../img/overlay.png');
background-position-x: 0px;
background-position-y: 0px;
background-size: initial;
background-repeat-x: repeat;
background-repeat-y: repeat;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: rgba(30, 45, 50, 0.50);
background-color: transparent;
background-color: rgba(30, 45, 50, 0.50);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EF0D0F12,endColorstr=#EF0D0F12);
zoom: 1;
display: block !important;
color: #ffffff;
zoom: 1;
display: block !important;
}
.container {
padding:-10px;
font-size:16px;
}
body {
	height:100%;
}

#zipbox {
	border-radius:5px;
	height:115px;
	margin-top:25px;
	opacity:.32;
	border-radius:20px;
	font-size:100px;
	width:450px;
	left:24%;
	line-height:.7em;
	/*top:150px;*/
	position:relative;
  color: black;
	padding-left:10px;
}
/*
margin-left:30%;
margin-right:50%;
font-size:86px;
vertical-align:middle;
text-align:center;
height:120px;
width:420px;
opacity:.65;
}
/*alignment off between #zipbox and #submit objects, not responsive*/

#submit {
font-family:"proxima-nova-bold", "Helvetica", sans-serif;
height:90px;
margin-top:20px;
font-size:30px;
position:relative;
width:520px;
left:21%;
color:#ffffff;
background-color: hsl(0, 0%, 4%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#0a0a0a");
background-image: -khtml-gradient(linear, left top, left bottom, from(#4c4c4c), to(#0a0a0a));
background-image: -moz-linear-gradient(top, #4c4c4c, #0a0a0a);
background-image: -ms-linear-gradient(top, #4c4c4c, #0a0a0a);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #0a0a0a));
background-image: -webkit-linear-gradient(top, #4c4c4c, #0a0a0a);
background-image: -o-linear-gradient(top, #4c4c4c, #0a0a0a);
background-image: linear-gradient(#4c4c4c, #0a0a0a);
border-color: #0a0a0a #0a0a0a hsl(0, 0%, -2.5%);
color: #fff !important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
-webkit-font-smoothing: antialiased;
}
#greenbutton {
height:60px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
}
/*For all 3 #bottom objects, CTA buttons need re-styling, especially on mouseover/hover*/
#bottom_email {
  padding:10px;
  background-color: hsl(201, 100%, 30%) !important;
  position:fixed;
  bottom:1px;
  height:47px;
  text-align:left;
  vertical-align:text-top;
  font-size:18px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#bottom_join {
  padding:10px;
  position:fixed;
  left:34%;
  bottom:1px;
  height:47px;
  text-align:left;
  vertical-align:text-top;
  font-size:18px;
  background-color: hsl(126, 67%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32d642", endColorstr="#156e1e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#32d642), to(#156e1e));
  background-image: -moz-linear-gradient(top, #32d642, #156e1e);
  background-image: -ms-linear-gradient(top, #32d642, #156e1e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32d642), color-stop(100%, #156e1e));
  background-image: -webkit-linear-gradient(top, #32d642, #156e1e);
  background-image: -o-linear-gradient(top, #32d642, #156e1e);
  background-image: linear-gradient(#32d642, #156e1e);
  border-color: #156e1e #156e1e hsl(126, 67%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}
#bottom_download {
  padding:10px;
  position:fixed;
  left:65%;
  bottom:1px;
  height:47px;
  background-color: hsl(201, 100%, 30%) !important;
  text-align:left;
  vertical-align:text-top;
  font-size:18px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

#bottom_email:hover{
  background-color: hsl(201, 100%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007abc", endColorstr="#003856");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#007abc), to(#003856));
  background-image: -moz-linear-gradient(top, #007abc, #003856);
  background-image: -ms-linear-gradient(top, #007abc, #003856);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007abc), color-stop(100%, #003856));
  background-image: -webkit-linear-gradient(top, #007abc, #003856);
  background-image: -o-linear-gradient(top, #007abc, #003856);
  background-image: linear-gradient(#007abc, #003856);
  border-color: #003856 #003856 hsl(201, 100%, 12%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#bottom_join:hover{
  background-color: hsl(118, 100%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06bc00", endColorstr="#025600");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#06bc00), to(#025600));
  background-image: -moz-linear-gradient(top, #06bc00, #025600);
  background-image: -ms-linear-gradient(top, #06bc00, #025600);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #06bc00), color-stop(100%, #025600));
  background-image: -webkit-linear-gradient(top, #06bc00, #025600);
  background-image: -o-linear-gradient(top, #06bc00, #025600);
  background-image: linear-gradient(#06bc00, #025600);
  border-color: #025600 #025600 hsl(118, 100%, 12%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#bottom_download:hover{
  background-color: hsl(201, 100%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007abc", endColorstr="#003856");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#007abc), to(#003856));
  background-image: -moz-linear-gradient(top, #007abc, #003856);
  background-image: -ms-linear-gradient(top, #007abc, #003856);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007abc), color-stop(100%, #003856));
  background-image: -webkit-linear-gradient(top, #007abc, #003856);
  background-image: -o-linear-gradient(top, #007abc, #003856);
  background-image: linear-gradient(#007abc, #003856);
  border-color: #003856 #003856 hsl(201, 100%, 12%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#lead {
font-size:36px;
text-align:center;
vertical-align:top;
padding:6px;
margin-top:-120px;
}
#average {
font-size:62px;
text-align:center;
vertical-align:top;
padding:-10px;
}
#back {
margin-top:-13px;
height:150px;
width:1200px;
}
/*
.placeholder{
text-align:center;
padding:4px;
}
*/

#logos {
left:37%;
position:relative;
}

#hide_button {
position:fixed;
height:20px;
width:20px
right:50px;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #010101;
  background-color: #00779b;
  *background-color: #006382;
}
.btn:active,
.btn.active {
  background-color: #005068 \9;
}
.btn.reset,
.btn-reset,
.btn.cancel,
.btn-cancel {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.bottom_submit {
  display: inline-block;
  margin-bottom: 3px;

  padding:10px;
  height: 36px;
  line-height: 17px;
  text-align: center;
  font-size: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 40px;
  -moz-box-shadow: 0 1px #fff;
  -webkit-box-shadow: 0 1px #fff;
  box-shadow: 0 1px #fff;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 1px #fff;
  font-weight: bold;
  background-color: #c6c7cf;
  color: #96989b;
  border: 1px solid #bcbcbf;
  background-image: -moz-linear-gradient(top, #f5f5fa, #c6c7cf);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f5f5fa), to(#c6c7cf));
  background-image: -o-linear-gradient(top, #f5f5fa, #c6c7cf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5fa', endColorstr='#c6c7cf');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5fa', endColorstr='#c6c7cf')";
  background-image: linear-gradient(top, #f5f5fa, #c6c7cf);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out; }

.bottom_submit:hover {
  text-decoration: none;
  color: #d5d5d5;
  text-shadow: 0 -1px #858585;
  font-weight: bold;
  background-color: #858585;
  color: #fff;
  border: 1px solid #8f9091;
  background-image: -moz-linear-gradient(top, #b9bcbf, #858585);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#b9bcbf), to(#858585));
  background-image: -o-linear-gradient(top, #b9bcbf, #858585);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9bcbf', endColorstr='#858585');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9bcbf', endColorstr='#858585')";
  background-image: linear-gradient(top, #b9bcbf, #858585); }

#main_content {
	z-index:5;
	position: relative;
	width:960px;
	margin:auto;
}

.main_landing div {
	color:white;
	font-family: "proxima-nova-regular",sans-serif;
	color: #F6FCFF;
	font-size:18px;
	margin:10px 25px 
	line-height:1.2em;
	width:92%;
	max-width:1000px;
	
}
/*
#landing-container {
	background-color: rgba(0,0,0,.5);
	padding:20px;
	border-radius:8px;
  line-height:1.4em;
  width:100%;
  position:relative;	
}
*/
.landing-container h1 {
	font-family: "proxima-nova-bold", Helvetica, Arial, sans-serif;
  font-size:55px;
	color:#F6FCFF;
  line-height:0.5em;
}

.landing-container p {
	font-size:21px;
	color: white;
}

.panel {
	color:white;
	background-color:rgba(0,0,0,.7);
	position:fixed;
  padding: 30px;
  border-radius: 20px;
  margin-left:15%;
  top:60px;
	z-index:5;
	margin-right:15%;
	min-width:60%;
}

#panel_back {
  
}
.panel h1 {
	font-size:55px;
	color:#F6FCFF;
	line-height:1.2em;
}
.panel h2 {
	font-size:21px;
	color: #B0D9ED;
}

h1 {
  font-family: "proxima-nova-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 2.5;
}
h2 {
  font-family: "proxima-nova-light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.3;
}
h3 {
  font-family: "proxima-nova-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
}

#landing_email{
  line-height: 0.0em;
  font-size: 18px;
  width:388px;
  font-color:black;
  padding:6px;
}
#landing_submit{
  position:relative;
  left:15%;
  opacity: 1.0;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 3px;
  width: 300px;
  padding:10px;
  height: 38px;
  line-height: 17px;
  font-size: 24px;
  border-radius:8px;
  background-color: hsl(126, 67%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32d642", endColorstr="#156e1e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#32d642), to(#156e1e));
  background-image: -moz-linear-gradient(top, #32d642, #156e1e);
  background-image: -ms-linear-gradient(top, #32d642, #156e1e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32d642), color-stop(100%, #156e1e));
  background-image: -webkit-linear-gradient(top, #32d642, #156e1e);
  background-image: -o-linear-gradient(top, #32d642, #156e1e);
  background-image: linear-gradient(#32d642, #156e1e);
  border-color: #156e1e #156e1e hsl(126, 67%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}
#GBI_header {
  margin-top:30px;
}

.gb_map {
  margin:0 0 20px 0;
}

#st_facebook_vcount{
  top: 70px;
  left: 20px;
  position:fixed;
  z-index: 5;
}
#st_twitter_vcount{
  top: 170px;
  left: 20px;
  position:fixed;
  z-index: 5;
}
#st_googleplus_vcount{
  top: 270px;
  left: 20px;
  position:fixed;
  z-index: 5;
}
#st_linkedin_vcount{
  top: 370px;
  left: 20px;
  position:fixed;
  z-index: 5;
}
#st_pinterest_vcount{
  top: 470px;
  left: 20px;
  position:fixed;
  z-index: 5;
}

.bottomButton {
	width:100%;
}

.bottomButton div {
	z-index:5;
	display:inline-block;
	width:33%;
}

.index2 h1 {
	font-size:3em;
}

.index2 {
	line-height:2em;
}
#st_email_vcount{
  top: 570px;
  left: 20px;
  position:fixed;
  z-index: 5;
}

#bottom_email form{
	margin-top:20px;
}



